body
{
background-image:url('../textures/grncol.png');
margin:5%;
font-family: 'Roboto Condensed', sans-serif;

}



h1 {
  color: #0095dd;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

ul a {
  text-decoration: none;
}
ul a:hover {
  text-decoration: underline;
}

.nav {
  margin:20px;
  background-image:url('../textures/whitebump.png');
  display: inline-block;
  vertical-align: top;
  padding:20px;
}
.nav h4 {
  text-align: center;
}
.nav a {
  color: #333;
  font-size: .85em;
}

.section {
  padding: 1.5em;
}
.section h3 {
  color: #0095dd;
  display: inline-block;
  font-size: 1em;
}
.section a {
  color: #333;
  font-size: .85em;
}
.section .up {
  color: #e74c3c;
}

.syntax {
  background-image:url('../textures/whitebump.png');
  color: black;
  margin: 10px 0;
  border: solid thin #ddd;
  font-family: 'Roboto Condensed', sans-serif;

}

.syntax span {
  counter-increment: linecounter;
}

.syntax span:before {
  content: counter(linecounter);
  width: 1.2em;
  text-align: center;
  display: inline-block;
  border-right: 1px solid #ddd;
  margin-right: 10px;
  font-style: normal !important;
  color: #555 !important;
}

#template {
  display: none;
}

.num {
  font-weight: 600;
  color: #d0782a;
}

[class*=var] {
  font-weight: 600;
}

.clr {
  border-radius: 1px;
  color: white;
  font-weight: 400;
}

.str, .str i {
  color: #ddca7e !important;
  font-weight: 400 !important;
}

.reg, .reg i {
  color: #ddca7e !important;
  font-weight: 500 !important;
}

.cmnt, .cmnt i {
  color: #bbb !important;
  font-weight: 400 !important;
}

@media (max-width: 400px) {
  .syntax {
    font-size: 12px;
  }
}